controller.js
[{"id":"b670265d.12d6c","type":"tab","label":"pictrl"},{"id":"6ee17225.3a55d4","type":"tab","label":"pictrl-dashboard"},{"id":"69e19461.3608a4","type":"tab","label":"Heating-Cooling"},{"id":"6c287fca.93e148","type":"nodebot","z":"b670265d.12d6c","name":"pictrl","username":"","password":"","boardType":"raspi-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"f9529ac6.364af8","type":"mqtt-broker","z":"b670265d.12d6c","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"pictrl","birthQos":"0","birthRetain":null,"birthPayload":"i start"},{"id":"447174e2.6e78ac","type":"mqtt-broker","z":"b670265d.12d6c","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"a9777f7b.f14cb","type":"ui_group","z":"6ee17225.3a55d4","name":"buttons-pictrl","tab":"86cef4df.44cc58","disp":true,"width":"6"},{"id":"86cef4df.44cc58","type":"ui_tab","z":"6ee17225.3a55d4","name":"Home","icon":"dashboard"},{"id":"ee856ce3.8088b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ed280cf.ceb29","type":"johnny5","z":"b670265d.12d6c","name":"ctrlpress","func":"var ctrlpress = new five.Barometer({\n    controller: \"MPL115A2\",\n    freq: 300000\n});\nvar ctrltemp = new five.Thermometer({\n    controller: \"MPL115A2\",\n    freq: 300000\n});\nctrltemp.on(\"data\", function() {\n    node.send({topic: 'pictrl/temperature/',\n               payload: this.celsius}\n               );\n});\nctrlpress.on(\"data\", function() {\n    node.send({topic: 'pictrl/preassure/',\n               payload: this.pressure}\n               );\n});","board":"6c287fca.93e148","noerr":0,"x":740,"y":80,"wires":[["613679a5.66129"]]},{"id":"e8bd1.f0d6542f","type":"debug","z":"b670265d.12d6c","name":"","active":false,"console":"false","complete":"true","x":910,"y":640,"wires":[]},{"id":"9b037bea.e8a0f","type":"mqtt in","z":"b670265d.12d6c","name":"pictrl/switch","topic":"#","qos":"0","broker":"f9529ac6.364af8","x":110,"y":580,"wires":[["18f85a35.73b0b6"]]},{"id":"7813d9a5.5b5898","type":"inject","z":"b670265d.12d6c","name":"SwitchAll","topic":"switchs/pushall","payload":"0/1","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["4e50cd25.172064"]]},{"id":"7cabc320.836ab4","type":"mqtt in","z":"b670265d.12d6c","name":"esp_ir","topic":"+/gpio/irdata","qos":"2","broker":"f9529ac6.364af8","x":90,"y":640,"wires":[["d8e08fc3.96065"]]},{"id":"99c8a04.3964fe","type":"johnny5","z":"b670265d.12d6c","name":"relays","func":"var pcf01 = new five.Board.Virtual(\n    new five.Expander(\"PCF8574\")\n  );\n\nvar relay01 = new five.Relay({\n    pin: 0,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay02 = new five.Relay({\n    pin: 1,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay03 = new five.Relay({\n    pin: 2,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay04 = new five.Relay({\n    pin: 3,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay05 = new five.Relay({\n    pin: 4,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay06 = new five.Relay({\n    pin: 5,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay07 = new five.Relay({\n    pin: 6,\n    board: pcf01,\n    type: 'NC'\n});\nvar relay08 = new five.Relay({\n    pin: 7,\n    board: pcf01,\n    type: 'NC'\n});\n\nvar relays = new five.Relays([\n    relay01,\n    relay02,\n    relay03,\n    relay04,\n    relay05,\n    relay06,\n    relay07,\n    relay08\n    ]);\ncontext.global.relays = [];\ncontext.global.relays.length=11;\ncontext.global.espRelays=['sonoff01/ESP000CA5D1/gpio/output12','sonoff03/ESP000CB592/gpio/output12','esp/ESP00A27029/gpio/output5'];\n\nnode.on('input', function(msg) {\n    if (msg.payload.relay == -99) {\n        if (msg.payload.state === '0') {\n            relays.off();\n        } else if (msg.payload.state === '1') {\n            relays.on();\n        } else if (msg.payload.state === '0/1') {\n            relays.toggle();\n        }\n        for (var j=0; j<relays.length; j++) {\n            t = j+1;\n            node.send({ topic: msg.topic+t.toString(), payload: Number(relays[j].isOn)});\n            context.global.relays[j]=Number(relays[j].isOn);\n        }\n    } else {\n        if (msg.payload.state === '0') {\n            relays[msg.payload.relay].off();\n        } else if (msg.payload.state === '1') {\n            relays[msg.payload.relay].on();\n        } else if (msg.payload.state === '0/1') {\n            relays[msg.payload.relay].toggle();\n        }\n        t = msg.payload.relay+1;\n        node.send({ topic: msg.topic+t.toString(), payload: Number(relays[msg.payload.relay].isOn)});\n        context.global.relays[msg.payload.relay]=Number(relays[msg.payload.relay].isOn);\n    }\n});\n","board":"6c287fca.93e148","noerr":0,"x":730,"y":140,"wires":[["613679a5.66129"]]},{"id":"613679a5.66129","type":"mqtt out","z":"b670265d.12d6c","name":"pictrl/relays","topic":"","qos":"0","retain":"false","broker":"f9529ac6.364af8","x":930,"y":200,"wires":[]},{"id":"7509ebb1.8a6aec","type":"johnny5","z":"b670265d.12d6c","name":"rasp-buttons","func":"var buttons = new five.Buttons({\n    pins: ['GPIO17', 'GPIO25', 'GPIO27', 'GPIO4', 'GPIO24','GPIO10','GPIO18','GPIO22', 'GPIO7', 'GPIO9', 'GPIO11', 'GPIO8'],\n    isPullup: true\n});\ncontext.global.switchs = ['GPIO17', 'GPIO25', 'GPIO27', 'GPIO4', 'GPIO24','GPIO10','GPIO18','GPIO22', 'GPIO7', 'GPIO9', 'GPIO11', 'GPIO8'];\nbuttons.on(\"hold\", function(button) {\n    node.send({ topic: 'switchs/hold', payload: button.pin});\n});\nbuttons.on(\"down\", function(button) {\n    node.send({ topic: 'switchs/down', payload: button.pin});\n});\n","board":"6c287fca.93e148","noerr":0,"x":100,"y":20,"wires":[["4e50cd25.172064"]]},{"id":"d8e08fc3.96065","type":"function","z":"b670265d.12d6c","name":"ir-parcer","func":"if (msg.topic.search('irdata')) {\n    if (msg.payload === '16615543') {\n       msg.topic = 'pictrl/switch1'\n    } else if (msg.payload === '16623703') {\n        msg.topic = 'pictrl/switch2'\n    } else if (msg.payload === '16619623') {\n        msg.topic = 'pictrl/switch3'\n    }\n    return msg;\n}","outputs":"1","noerr":0,"x":260,"y":640,"wires":[["e8bd1.f0d6542f","4e50cd25.172064"]]},{"id":"bbdadc0c.fccaf","type":"inject","z":"b670265d.12d6c","name":"OffAllrelays","topic":"switchs/alloff","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":100,"wires":[["c3f5f1a0.90adc8"]]},{"id":"c3f5f1a0.90adc8","type":"delay","z":"b670265d.12d6c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":290,"y":100,"wires":[["4e50cd25.172064"]]},{"id":"18f85a35.73b0b6","type":"function","z":"b670265d.12d6c","name":"parce-mqtt","func":"var special=['hause23/garden-light/button02/state'];\nvar sreplace=['doorbell'];\nvar topics=['hause23/garden-light/button02/state','esp/ESP00CF3640/gpioint3','cmd/pictrl/relay1','cmd/pictrl/relay2','cmd/pictrl/relay3','cmd/pictrl/relay4','cmd/pictrl/relay5','cmd/pictrl/relay6','cmd/pictrl/relay7','cmd/pictrl/relay8','sonoff01/ESP000CA5D1/gpio/output12','sonoff03/ESP000CB592/gpio/output12','esp/ESP00A27029/json','esp/ESP00A27029/gpio/output5','esp/ESP00CF3640/json','esp/ESP00CF3640/gpio/output5'];\nvar inx=-1;\nvar espinx=-1;\nespinx=context.global.espRelays.indexOf(msg.topic);\ninx = topics.indexOf(msg.topic);\nif (inx >= 0) {\n    if (msg.topic.search('json') !== -1) {\n        return [null,{topic: msg.topic, payload: msg.payload},null];\n    } else {\n        if (espinx >= 0 && msg.payload !== '0/1') {\n            context.global.relays[8+espinx] = Number(msg.payload);\n            return [null,null,msg];\n        }\n        if (msg.payload === '0') {\n            topic = 'switchs/off';\n        } else if (msg.payload === '1') {\n            topic = 'switchs/on';\n        } else if (msg.payload === 'PRESSED') {\n            topic = 'switchs/down';\n        } else {\n            topic = 'info';\n        }\n        inxsp = special.indexOf(msg.topic);\n        if (inxsp !== -1) {\n            ret = sreplace[inxsp];\n        } else if (msg.topic.search('pictrl') === -1) {\n            ret = msg.topic.split('/')[1];\n        } else if (msg.topic.search('switch') !== -1) {\n            ret = context.global.switchs[Number(msg.topic.replace('cmd/pictrl/switch', ''))-1];\n        } else if (msg.topic.search('relay') !== -1) {\n            ret = Number(msg.topic.replace('cmd/pictrl/relay', ''))-1;\n        }\n        return [{topic: topic, payload: ret}, null, {topic: topic, payload: ret}];\n    }\n} else {\n    return [null,null,msg];\n}","outputs":"3","noerr":0,"x":510,"y":380,"wires":[["4e50cd25.172064"],["dd079809.706e28"],["e8bd1.f0d6542f","aadea445.fcb2d8"]]},{"id":"ac664bc3.684828","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch1","topic":"switchs/down","payload":"GPIO17","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["4e50cd25.172064"]]},{"id":"5c6e2ac.d52dad4","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch2","topic":"switchs/down","payload":"GPIO27","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["4e50cd25.172064"]]},{"id":"7951265a.3139f8","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch3","topic":"switchs/down","payload":"GPIO25","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["4e50cd25.172064"]]},{"id":"48f71402.8e85ac","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch4","topic":"switchs/down","payload":"GPIO4","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":300,"wires":[["4e50cd25.172064"]]},{"id":"203de137.570006","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch5","topic":"switchs/down","payload":"GPIO18","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":340,"wires":[["4e50cd25.172064"]]},{"id":"91c850ba.d0a3b","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch6","topic":"switchs/down","payload":"GPIO10","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["4e50cd25.172064"]]},{"id":"d5bf1f35.cba9a","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch7","topic":"switchs/down","payload":"GPIO11","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":420,"wires":[["4e50cd25.172064"]]},{"id":"e141046a.1686c8","type":"inject","z":"b670265d.12d6c","name":"pictrl/switch8","topic":"switchs/down","payload":"GPIO24","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["4e50cd25.172064"]]},{"id":"f8b34554.c50278","type":"inject","z":"b670265d.12d6c","name":"esp/switch1-ESP000CB592","topic":"switchs/down","payload":"ESP000CB592","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":500,"wires":[["4e50cd25.172064"]]},{"id":"c426e6ff.2f8e68","type":"inject","z":"b670265d.12d6c","name":"esp/switch2-ESP000CA5D1","topic":"switchs/down","payload":"ESP000CA5D1","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":540,"wires":[["4e50cd25.172064"]]},{"id":"4e50cd25.172064","type":"function","z":"b670265d.12d6c","name":"pict-base-function","func":"var msgs = [];\nvar states = [];\nvar notify = [];\nvar sounds =[];\n\nfunction espRealy (esps, state, all) {\n    if (all === 0) {\n        inx = context.global.espRelays.indexOf(esps);\n        if (state === '0/1') {\n            if (context.global.relays[8+inx] === 1) {\n                state = '0';\n            } else if (context.global.relays[8+inx] === 0){\n                state = '1';\n            }\n        }\n    } else if (all === 1) {\n        oldstate=state;\n        newstate=state;\n        state=[];\n        for (var s=0; s<context.global.espRelays.length; s++) {\n            if (oldstate === '0/1') {\n                if (context.global.relays[8+s] === 1) {\n                    newstate = '0';\n                } else if (context.global.relays[8+s] === 0){\n                    newstate = '1';\n                }\n            }\n            state.push({\"topic\": context.global.espRelays[s], \"payload\": newstate});\n        }        \n    }\n    return state;\n}\n\nif (msg.topic === 'switchs/hold') {\n    if (msg.payload === 'GPIO10') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": -99, \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO24') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 3, \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);\n        \n        states.push(null);\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 8, \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);\n        \n        states.push(null);\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 13, \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);\n        \n        states.push(null);\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 14, \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);\n        \n    } else if (msg.payload === 'GPIO25') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0'});\n        notify.push(null);\n        sounds.push(null);\n        if (context.global.relays[5] === 0) {\n            msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 6, \"state\": \"1\"}'});\n        } else {\n            msgs.push(null);\n        }\n        if (context.global.relays[1] === 0) {\n            msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 2, \"state\": \"1\"}'});\n        } else {\n            msgs.push(null);\n        }\n    }\n} else if (msg.topic === 'switchs/down') {\n    if (msg.payload === 'GPIO17') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 0, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO27') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 1, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO25') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 2, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO4') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 3, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO18') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 4, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO10') {\n        if (context.global.relays[5] === 0) {\n            states.push(null);\n            msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 4, \"state\": \"1\"}'});\n            notify.push(null);\n            sounds.push(null);\n        } else if (context.global.relays[5] === 1) {\n            states.push(null);\n            msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 4, \"state\": \"0\"}'});\n            notify.push(null);\n            sounds.push(null);\n        } else {\n            states.push(null);\n            msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 4, \"state\": \"0/1\"}'});\n            notify.push(null);sounds.push(null);\n        }\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 5, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO11') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 6, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO24') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 7, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO23') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push(null);\n        notify.push({\"topic\": \"pictrl/corridor/motion\", \"payload\": \"move\"});\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO7') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 1, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO9') {\n        states.push({\"topic\": \"sonoff03/ESP000CB592/gpio/output12\", \"payload\": espRealy(\"sonoff03/ESP000CB592/gpio/output12\", \"0/1\", 0)});\n        msgs.push(null);\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO8') {\n        states.push({\"topic\": \"esp/ESP00A27029/gpio/output5\", \"payload\": espRealy(\"esp/ESP00A27029/gpio/output5\", \"0/1\", 0)});\n        msgs.push(null);\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'GPIO22') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": 3, \"state\": \"0/1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'ESP000CA5D1') {\n        states.push({\"topic\": \"sonoff01/ESP000CA5D1/gpio/output12\", \"payload\": espRealy(0, \"0/1\")});\n        msgs.push(null);\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'ESP000CB592') {\n        states.push({\"topic\": \"sonoff03/ESP000CB592/gpio/output12\", \"payload\": espRealy(1, \"0/1\")});\n        msgs.push(null);\n        notify.push(null);\n        sounds.push(null);\n    } else if (msg.payload === 'doorbell'){\n        states.push(null);\n        msgs.push(null);\n        notify.push({\"topic\": 'kodi/command/notify', \"payload\": '{\"message\": \"Някой звъни на вратата!!!\", \"title\": \"Информация\"}'});\n        sounds.push({\"topic\": \"aplay\", \"payload\": \"~/sounds/Doorbell-SoundBible.com-516741062.wav\"})\n    }\n} else if (msg.topic === 'switchs/up') {\n} else if (msg.topic === 'switchs/on') {\n    if (msg.payload === 'GPIO23') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '1'});\n        msgs.push(null);\n        notify.push({\"topic\": \"pictrl/corridor/motion\", \"payload\": \"begin\"});\n        sounds.push(null);\n    } else {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toString(), \"payload\": '0'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": ' + msg.payload.toString() + ', \"state\": \"1\"}'});\n        notify.push(null);\n        sounds.push(null);\n    }\n} else if (msg.topic === 'switchs/off') {\n    if (msg.payload === 'GPIO23') {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0'});\n        msgs.push(null);\n        notify.push({\"topic\": \"pictrl/corridor/motion\", \"payload\": \"end\"});\n        sounds.push(null);\n    } else {\n        states.push({\"topic\": msg.topic+'/'+msg.payload.toString(), \"payload\": '0'});\n        msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": ' + msg.payload.toString() + ', \"state\": \"0\"}'});\n        notify.push(null);\n        sounds.push(null);  \n    }\n} else if (msg.topic === 'switchs/pushall') {\n    states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0/1'});\n    msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": -99, \"state\": \"0/1\"}'});\n    notify.push(null);\n    sounds.push(null);\n} else if (msg.topic === 'switchs/alloff') {\n    states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '0'});\n    msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": -99, \"state\": \"0\"}'});\n    notify.push(null);\n    sounds.push(null);\n} else if (msg.topic === 'switchs/allon') {\n    states.push({\"topic\": msg.topic+'/'+msg.payload.toLowerCase(), \"payload\": '1'});\n    msgs.push({\"topic\": 'pictrl/relays', 'payload': '{\"relay\": -99, \"state\": \"1\"}'});\n    notify.push(null);\n    sounds.push(null);\n} else {\n    states.push(msg);\n    msgs.push(null);\n    notify.push(null);\n    sounds.push(null);\n}\nif (msgs.length > 0) {\n    for (var j=0; j<msgs.length; j++) {\n        node.send([msgs[j], states[j], notify[j], sounds[j]]);\n    }\n}\nreturn [null,null,null,null];","outputs":"4","noerr":0,"x":530,"y":200,"wires":[["4f196083.8dc1b"],["613679a5.66129","e8bd1.f0d6542f"],["9bbd4afe.fde368"],["66d3b353.f7c03c"]]},{"id":"4dd94c3c.c4594c","type":"inject","z":"b670265d.12d6c","name":"OnAllrelays","topic":"switchs/allon","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["703fca1.2f98334"]]},{"id":"703fca1.2f98334","type":"delay","z":"b670265d.12d6c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":60,"wires":[["4e50cd25.172064"]]},{"id":"51e0206d.095f2","type":"inject","z":"b670265d.12d6c","name":"","topic":"kodi/command/notify","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":510,"y":320,"wires":[["9bbd4afe.fde368"]]},{"id":"9bbd4afe.fde368","type":"function","z":"b670265d.12d6c","name":"kodi-notify","func":"if (msg.topic ==='kodi/command/notify') {\n    if (context.global.relays[1] === 1) {\n        msg.payload = '{\"message\": \"Лампата в банята свети!!!\", \"title\": \"Внимание\"}';\n    } else if (context.global.relays[5] === 1) {\n        msg.payload = '{\"message\": \"Лампата в антрето свети!!!\", \"title\": \"Внимание\"}';\n    }\n}\nreturn msg;","outputs":"1","noerr":0,"x":750,"y":320,"wires":[["613679a5.66129"]]},{"id":"dd079809.706e28","type":"json","z":"b670265d.12d6c","name":"esp-json","x":500,"y":540,"wires":[["bdfc0604.bbf61"]]},{"id":"bdfc0604.bbf61","type":"function","z":"b670265d.12d6c","name":"parce-json","func":"msg.topic = msg.topic.replace('json','gpio/output5');\nmsg.payload = msg.payload.gpio['5'];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":460,"wires":[["18f85a35.73b0b6"]]},{"id":"4f196083.8dc1b","type":"json","z":"b670265d.12d6c","name":"parse-json-cmd-relays","x":540,"y":120,"wires":[["99c8a04.3964fe"]]},{"id":"66d3b353.f7c03c","type":"exec","z":"b670265d.12d6c","command":"aplay","addpay":true,"append":"","useSpawn":false,"timer":"20","name":"aplay","x":910,"y":260,"wires":[[],["e8bd1.f0d6542f"],[]]},{"id":"45f8f863.26d6d8","type":"johnny5","z":"b670265d.12d6c","name":"rasp-motion","func":"var motion = new five.Motion({\n  pin: 'GPIO23'\n});\n\n// \"calibrated\" occurs once, at the beginning of a session,\nmotion.on(\"calibrated\", function() {\n    // \"motionstart\" events are fired when the \"calibrated\"\n    // proximal area is disrupted, generally by some form of movement\n});\nmotion.on(\"motionstart\", function() {\n    node.send({ topic: 'switchs/on', payload: 'GPIO23'});\n});\n\n// \"motionend\" events are fired following a \"motionstart\" event\n// when no movement has occurred in X ms\nmotion.on(\"motionend\", function() {\n    node.send({ topic: 'switchs/off', payload: 'GPIO23'});\n});\n","board":"6c287fca.93e148","noerr":0,"x":290,"y":20,"wires":[["4e50cd25.172064"]]},{"id":"c98efbb.62d0708","type":"link in","z":"b670265d.12d6c","name":"ui-pictrl","links":["65928f8a.ef6b6","83e69d82.8ac2a8","a8185743.fa15d"],"x":555,"y":20,"wires":[["4e50cd25.172064"]]},{"id":"65928f8a.ef6b6","type":"link out","z":"6ee17225.3a55d4","name":"dashboard-pictrl","links":["c98efbb.62d0708"],"x":655,"y":60,"wires":[]},{"id":"e37ad37.149483","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"Коридор","color":"","bgcolor":"","icon":"","payload":"GPIO17","payloadType":"str","topic":"switchs/down","x":260,"y":60,"wires":[["65928f8a.ef6b6"]]},{"id":"8503e9a.acc9818","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO27","color":"","bgcolor":"","icon":"","payload":"GPIO27","payloadType":"str","topic":"switchs/down","x":280,"y":100,"wires":[["65928f8a.ef6b6"]]},{"id":"f8153f7c.4bbf","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO25","color":"","bgcolor":"","icon":"","payload":"GPIO25","payloadType":"str","topic":"switchs/down","x":280,"y":140,"wires":[["65928f8a.ef6b6"]]},{"id":"a4df0003.19a5d","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO4","color":"","bgcolor":"","icon":"","payload":"GPIO4","payloadType":"str","topic":"switchs/down","x":280,"y":180,"wires":[["65928f8a.ef6b6"]]},{"id":"6896965e.7f05f","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO18","color":"","bgcolor":"","icon":"","payload":"GPIO18","payloadType":"str","topic":"switchs/down","x":280,"y":220,"wires":[["65928f8a.ef6b6"]]},{"id":"c2568735.681e78","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO10","color":"","bgcolor":"","icon":"","payload":"GPIO10","payloadType":"str","topic":"switchs/down","x":280,"y":260,"wires":[["65928f8a.ef6b6"]]},{"id":"aa550c47.a0d998","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"button-GPIO11","color":"","bgcolor":"","icon":"","payload":"GPIO11","payloadType":"str","topic":"switchs/down","x":280,"y":300,"wires":[["65928f8a.ef6b6"]]},{"id":"f515b9.da38d248","type":"ui_button","z":"6ee17225.3a55d4","name":"","group":"a9777f7b.f14cb","order":0,"width":0,"height":0,"label":"Кухня","color":"","bgcolor":"","icon":"","payload":"GPIO24","payloadType":"str","topic":"switchs/down","x":250,"y":340,"wires":[["65928f8a.ef6b6"]]},{"id":"aadea445.fcb2d8","type":"link out","z":"b670265d.12d6c","name":"termostats-pictrl","links":["281c2781.fedf8","96b22b64.8c8cc8"],"x":875,"y":600,"wires":[]},{"id":"a9c4aeba.70c07","type":"debug","z":"69e19461.3608a4","name":"","active":true,"console":"false","complete":"false","x":830,"y":160,"wires":[]},{"id":"c07d1fda.3a783","type":"inject","z":"69e19461.3608a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":280,"y":140,"wires":[[]]}]
